In [4]:
import pandas as pd

In [14]:
df = pd.read_csv('..\..\data\\crudos\\DetallesEncuesta_CateCursos2021InicialyAvanzado.csv', error_bad_lines=False)

b'Skipping line 362: expected 11 fields, saw 14\nSkipping line 1230: expected 11 fields, saw 13\nSkipping line 6066: expected 11 fields, saw 14\nSkipping line 9654: expected 11 fields, saw 14\nSkipping line 10104: expected 11 fields, saw 27\nSkipping line 17854: expected 11 fields, saw 15\nSkipping line 23799: expected 11 fields, saw 12\nSkipping line 30716: expected 11 fields, saw 12\nSkipping line 31287: expected 11 fields, saw 27\nSkipping line 37431: expected 11 fields, saw 14\nSkipping line 42418: expected 11 fields, saw 12\nSkipping line 43856: expected 11 fields, saw 12\nSkipping line 44548: expected 11 fields, saw 12\nSkipping line 46495: expected 11 fields, saw 19\nSkipping line 46967: expected 11 fields, saw 18\nSkipping line 47195: expected 11 fields, saw 12\nSkipping line 52076: expected 11 fields, saw 12\nSkipping line 55414: expected 11 fields, saw 12\nSkipping line 57579: expected 11 fields, saw 13\n'
b'Skipping line 66505: expected 11 fields, saw 13\nSkipping line 74702: expected 11 fields, saw 12\nSkipping line 79932: expected 11 fields, saw 12\nSkipping line 91418: expected 11 fields, saw 17\nSkipping line 91586: expected 11 fields, saw 13\nSkipping line 92305: expected 11 fields, saw 13\nSkipping line 98018: expected 11 fields, saw 22\nSkipping line 99856: expected 11 fields, saw 14\nSkipping line 101781: expected 11 fields, saw 12\nSkipping line 122182: expected 11 fields, saw 12\nSkipping line 122656: expected 11 fields, saw 18\nSkipping line 122772: expected 11 fields, saw 13\nSkipping line 130846: expected 11 fields, saw 12\n'
b'Skipping line 135132: expected 11 fields, saw 14\nSkipping line 136369: expected 11 fields, saw 12\nSkipping line 147331: expected 11 fields, saw 14\nSkipping line 147970: expected 11 fields, saw 12\nSkipping line 152894: expected 11 fields, saw 12\nSkipping line 158077: expected 11 fields, saw 12\nSkipping line 159446: expected 11 fields, saw 13\nSkipping line 160408: expected 11 fields, saw 12\nSkipping line 161512: expected 11 fields, saw 13\nSkipping line 162246: expected 11 fields, saw 15\nSkipping line 163474: expected 11 fields, saw 12\nSkipping line 166592: expected 11 fields, saw 18\n'

In [15]:
df.columns

Index(['Nombre', 'Apellido', 'Correo Electrónico', 'Encuesta', 'Pregunta',
       'Respuesta', 'Hora', 'Curso', 'ID Asignado Por Moodle',
       'Número De Identificación', 'Nombre De Usuario'],
      dtype='object')

In [16]:
df['Nombre']

0                     Fran Edilson
1                      Andrey León
2                      Andrey León
3                      Andrey León
4                      Andrey León
                    ...
277364               fany de jesus
277365               Susan Natalia
277366               JENIFER PAOLA
277367    RICARDO LUIS SOLANO DIAZ
277368              Heisson Darley
Name: Nombre, Length: 277369, dtype: object

In [ ]:
df['Nombre'].str.contains('Andrey')